<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<!-- 질문 -->
	<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
	<div class="card my-3">
		<div class="card-body">
			<!-- 제목 -->
			<div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
			<!-- 제목끝 -->
			<!-- 내용 -->
			<div class="d-flex justify-content-end">
				<!-- 수정일 -->
				<div th:if="${question.updateDate != null} and ${question.updateDate != question.createDate}"
					class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(question.updateDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<div class="badge bg-light text-dark p-2 text-start">
					<!-- 작성자 -->
					<div class="mb-2">
						<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
					</div>
					<!-- 작성일 -->
					<div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<!-- 내용끝 -->
			<div class="my-3">
				<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
					th:text="수정"></a>
				<a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
					th:text="삭제"></a>
			</div>
		</div>
	</div>
	<!-- 답변 반복 시작 -->
	<div class="card my-3" th:each="answer : ${answers}">
		<!-- 댓글 -->
		<a th:id="|answer_${answer.comment.id}|"></a>
	    <div class="card-body">
	        <div class="card-text" style="white-space: pre-line;" th:text="${answer.comment.content}"></div>
	        <div class="d-flex justify-content-end">
				<div th:if="${answer.comment.updateDate != null} and ${answer.comment.updateDate != answer.comment.createDate}" class="badge bg-light text-dark p-2 text-start mx-3">
			        <div class="mb-2">modified at</div>
			        <div th:text="${#temporals.format(answer.comment.updateDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
	            <div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
					    <span th:if="${answer.comment.author != null}" th:text="${question.author.username}"></span>
					</div>
	                <div th:text="${#temporals.format(answer.comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
	            </div>
	        </div>
			<div class="my-3">
			    <a th:href="@{|/answer/modify/${answer.comment.id}|}" class="btn btn-sm btn-outline-secondary"
			        sec:authorize="isAuthenticated()"
			        th:if="${answer.comment.author != null and #authentication.getPrincipal().getUsername() == answer.comment.author.username}"
			        th:text="수정"></a>
				<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.comment.id}|}"
				    class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
				    th:if="${answer.comment.author != null and #authentication.getPrincipal().getUsername() == answer.comment.author.username}"
				    th:text="삭제"></a>
			</div>
			<!-- 대댓글 -->
				<div th:each="reply : ${answer.replies}">
					<div class="card-body">
				    	<div class="card-text" style="white-space: pre-line;" th:text="${reply.comment.content}"></div>
						<div class="d-flex justify-content-end">
							<div th:if="${reply.comment.updateDate != null} and ${reply.comment.updateDate != reply.comment.createDate}" class="badge bg-light text-dark p-2 text-start mx-3">
								<div class="mb-2">modified at</div>
								<div th:text="${#temporals.format(reply.updateDate, 'yyyy-MM-dd HH:mm')}"></div>
							</div>
							<div class="badge bg-light text-dark p-2 text-start">
							<div class="mb-2">
								<span th:if="${reply.comment.author != null}" th:text="${question.author.username}"></span>
							</div>
							<div th:text="${#temporals.format(reply.comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
							</div>
						</div>
					</div>
				</div>
			
	    </div>
	</div>
	<!-- 답변 반복 끝  -->
	<!-- 답변 작성 -->
	<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<textarea required maxlength="200" placeholder="내용을 입력해주세요.(20,000자 이내)" th:field="*{content}" rows="10"
			class="form-control"></textarea>
		<input type="submit" value="답변등록" class="btn btn-primary my-2">
	</form>
	
	<script layout:fragment="script" type='text/javascript'>
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("정말로 삭제하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
	</script>
</html>